"*":
  "atom-material-ui":
    colors:
      abaseColor:
        red: 255
        green: 167
        blue: 38
        alpha: 1
      accentColor:
        red: 159
        green: 105
        blue: 24
        alpha: 1
      genAccent: true
      predefinedColor: "Orange"
    fonts:
      fontSize: 15
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui: {}
  autocomplete:
    includeCompletionsFromAllBuffers: true
  build:
    overrideThemeColors: false
    panelVisibility: "Keep Visible"
    saveOnBuild: true
    scrollOnError: true
    statusBar: "Right"
    statusBarPriority: 0
    stealFocus: false
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "language-perl"
      "language-php"
      "language-clojure"
      "language-csharp"
      "language-python"
      "swift-debugger"
      "linter-swift-package-manager"
      "linter-sourcekitten-syntax"
      "linter-swiftc"
      "vim-mode"
      "vim-mode-visual-block"
      "vim-mode-plus-ex-mode"
      "wrap-guide"
      "autocomplete"
      "welcome"
      "Zen"
      "sort-lines"
      "linter"
      "nuclide"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: [
      "terminal-plus"
    ]
    restorePreviousWindowsOnStart: true
  crystal: {}
  editor:
    fontFamily: "SFMono-Regular"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapHangingIndent: 2
    tabType: "soft"
    undoGroupingInterval: 150
  "exception-reporting":
    userId: "bc555be2-7aec-72af-4303-bcd700d1b3c2"
  floobits: {}
  linter: {}
  "linter-sourcekitten-syntax": {}
  "linter-swift-package-manager":
    executablePath: "/Library/Developer/Toolchains/swift-DEVELOPMENT-SNAPSHOT-2016-06-20-a.xctoolchain/usr/bin/swift"
  "linter-swiftc":
    compilerExecPath: "/Library/Developer/Toolchains/swift-DEVELOPMENT-SNAPSHOT-2016-06-20-a.xctoolchain/usr/bin/swiftc"
  "markdown-preview-enhanced":
    exportPDFPageFormat: "A4"
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
  nuclide:
    installRecommendedPackages: true
    "nuclide-debugger-php":
      logLevel: "DEBUG"
    "nuclide-home":
      showHome: false
    "nuclide-swift":
      swiftToolchainPath: "/Library/Developer/Toolchains/swift-DEVELOPMENT-SNAPSHOT-2016-08-07-a.xctoolchain"
    "nuclide-working-sets":
      workingSets: [
        {
          name: "Cy"
          active: true
          uris: [
            "/Users/Ethan/Source/vdka/crys"
          ]
        }
      ]
  "one-dark-ui":
    fontSize: 12
  "relative-numbers": {}
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "terminal-plus":
    style:
      fontSize: "12"
      theme: "homebrew"
    toggles: {}
  "tool-bar":
    visible: false
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    softWrapHangingIndent: 2
".hack.html.text":
  editor:
    softWrapHangingIndent: 2
".hackfragment.source":
  editor:
    softWrapHangingIndent: 2
".hg-commit.text":
  editor:
    softWrapHangingIndent: 2
".source.swift":
  editor:
    softWrapHangingIndent: 2
